<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="myeditorplugin.editors.XMLEditor"
            id="myeditorplugin.editors.XMLEditor">
      </editor>
   </extension>

	<!-- 設定 -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="myeditorplugin.editors.XMLEditorPreferenceInitializer"/>
	</extension>
	
	<!-- 設定 -->
	<extension point="org.eclipse.ui.preferencePages">
		<page
			class="myeditorplugin.editors.XMLEditorPreferencePage"
			id="myeditorplugin.page"
			name="Sample XML Editor" />
	</extension>
	
	
</plugin>
